main {
  margin-top: 3rem;
}

html {
  height: 100%;
}

nav {
  background-color: white;
  height: 60px;
  font-family: "Cutive Mono", "Copperplate", sans-serif;
}

#hamburger-menu a{
  color: #344E41;
  font-size: 30px;
  margin-left: 20px;
  position: relative;
  top: 5px;
}

.home-button {
  color: #344E41;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  left: 65px;
  bottom: 35px;
}

.take-quiz-btn {
  color: #344E41;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: 1800px;
  bottom: 65px;
}

.browse-button {
  color: #344E41;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: 1650px;
  bottom: 89px;
}

body {
  background-color: #EFF6FF;
  height: 300px;
}

header {
  text-align: center;
  background-size: cover;
  background-image: url("../img/Christmas-Gifts-banner.jpg");
  background-color: rgba(0, 0, 0, 0.9);
}

/* only applies to homepage */
.home header {
  height: 500px;
}

h1 {
  margin-top: 50px;
}

img {
  max-width: 100px;
  max-height: 100px;
}

h2.Title {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 50px;
}

.quiz_description {
  text-align: center;
  height: 100%;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.progress-step {
  font-size: small;
  letter-spacing: 1px;
  margin-top: 20px;
  color: #9ed7e6;
}

.progress-bar {
  width: 1300px;
  height: 10px;
  background-color: #9ed7e6;
  border-radius: px;
}

.card {
  position: relative;
}

.quiz-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 400px;
}

label {
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.nextButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.backButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#social-links a {
  color: #000000;
  font-size: 2.5rem;
}

footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  /* padding: 2rem 1rem; */
  text-align: center;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0.5rem 0;
}

p {
  line-height: 1.5;
}

footer p:last-child {
  margin-top: 1rem;
}

img {
  max-height: 200px;
  max-width: 200px;
}