main {
  margin-top: 3rem;
}

html {
  height: 100%;
}

nav {
  background-color: white;
  height: 60px;
  font-family: "Cutive Mono", "Copperplate", sans-serif;
}

#hamburger-menu a {
  color: #344E41;
  font-size: 30px;
  margin-left: 20px;
  position: relative;
  top: 5px;
}

.home-button {
  color: #344E41;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  position: relative;
  left: 65px;
  bottom: 35px;
}

.take-quiz-btn {
  color: #344E41;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: 1800px;
  bottom: 65px;
}

.browse-button {
  color: #344E41;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: 1650px;
  bottom: 89px;
}

body {
  background-color: #EFF6FF;
  height: 300px;
}

header {
  text-align: center;
  background-size: cover;
  background-image: url("../img/Christmas-Gifts-banner.jpg");
  background-color: rgba(0, 0, 0, 0.9);
}

/* only applies to homepage */
.home header {
  height: 500px;
}

h1 {
  margin-top: 50px;
}

.card img {
  max-width: 150px;
  max-height: 150px;
} 

h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-top: 50px;
}

.quiz-description {
  text-align: center;
}

.browse-description {
  text-align: center;
  height: 100%;
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.progress-step {
  font-size: small;
  letter-spacing: 1px;
  margin-top: 20px;
  color: #9ed7e6;
}

.progress-bar {
  width: 1300px;
  height: 10px;
  background-color: #9ed7e6;
  border-radius: px;
}

.card {
  position: relative;
}

.quiz-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 400px;
}

label {
  margin-bottom: 20px;
  font-size: 1.25rem;
}

.button {
  background-color: #212529;
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.buttonBack {
  background-color: #212529;
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 10px 24px;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* 
.nextButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.backButton {
  position: absolute;
  bottom: 20px;
  left: 20px;
} */

#social-links a {
  color: #000000;
  font-size: 2.5rem;
}

footer {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 100px;
}

footer a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0.5rem 0;
}

p {
  line-height: 1.5;
}

footer p:last-child {
  margin-top: 1rem;
}

img {
  max-height: 200px;
  max-width: 200px;
}

/* browse page */
.mainbox {
  display: flex;
  flex-wrap: wrap;
}

/* i.e. Hobbies & Interests, Personality Types, etc. */
.category {
  padding: 16px;
  margin-left: 230px;
  margin-bottom: 100px;
  border-radius: 10px;
  border: 0.3px solid #ccc;
  width: 600px;
  height: 300px;
  background: #f8f9fa;
}

/* i.e. Painting, Running, Reading, etc. */
.wrap-choices {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

/* specify the box settings for each choice */
.choices {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 40px;
}

.popCollection {
  display: flex;
  flex-wrap: wrap;
}

.collection {
  padding: 16px;
  margin-top: 50px;
  margin-left: 175px;
  border-radius: 10px;
  border: 0.3px solid #ccc;
  width: 400px;
  height: 150px;
  background: #f8f9fa;
  font-size: 20px;
}

.collection-text {
  font-size: small;
  margin-top: 20px;
  position: relative;
  font-size: 15px;
}